*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background-white);
}
:root{
    --background-white: #f9f8fc;
    --lines-gray: rgb(204, 198, 204);
    --rating: rgb(163, 141, 13);
    --button-color:aqua;
    --button-hover:aquamarine;
    --table-background: rgb(224, 224, 230);
}
#submit-button{
    background-color: var(--button-color);
    width: 5rem;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    border-radius: .5rem;
}
#rating-input{
    color: var(--rating);
}
#submit-button:hover{
    background-color: var(--button-hover);
}
#rating-output{
    display: flex;
}
.container{
    padding: 3rem;
}
#review-form{
    display:block
}
.wrapper{
    display: flex;
    flex-direction:column;
    padding-bottom: .75rem;
}
.heading{
    text-transform: capitalize;
    font-size: 1.12rem;
    font-weight: bold;
    
}
@media only screen and (min-width: 600px) {
    #review-form{
        display: grid;
        grid-template-columns: auto auto;
    }
    .wrapper{
        flex-direction: row;
    }
}
.table-container{
    margin-top:3rem;
    overflow-y: scroll;
    height:50vh;
}
#display-table{
    background-color: var(--table-background);

    width: 100%;
    border-collapse: collapse;
     
}
table tr{
    height: 3.5rem;
}
tr,
td,
th{
    text-align: left;
    border-bottom: solid var(--lines-gray) 1.5px;
    padding-left: 1rem;
}

.read,
.notRead{
    border: 1px;
    border-radius: 4px;
}
.read{
    color: green;
}
.notRead{
    color: red;
}






