*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background-white);
}
:root{
    --background-white: #f9f8fc;
    --lines-gray: rgb(204, 198, 204);
}

.container{
    padding: 3rem;
}
#review-form{
    display:block
}
.wrapper{
    display: flex;
    flex-direction:column;
    padding-bottom: .75rem;
}
.heading{
    text-transform: capitalize;
    font-size: 1.12rem;
    font-weight: bold;
    
}
@media only screen and (min-width: 600px) {
    #review-form{
        display: grid;
        grid-template-columns: auto auto;
    }
    .wrapper{
        flex-direction: row;
    }
}

table{
    margin-top:3rem;
    width: 100%;
    background-color: var(--background-white);
    border-collapse: collapse;
     
}
table tr{
    height: 3.5rem;
}
tr,
td,
th{
    text-align: left;
    border-bottom: solid var(--lines-gray) 1.5px;
}






